option_settings:
    aws:elasticbeanstalk:container:php:phpini:
        document_root: /public
        memory_limit: 256M
    aws:elasticbeanstalk:environment:
        EnvironmentType: SingleInstance
    aws:elasticbeanstalk:application:environment:
        APP_NAME: Finance
        APP_ENV: production
        APP_KEY: 898dbf1c5fae058fb3475c4d2becfb69
        APP_DEBUG: false
        APP_URL: http://accounting-api.rmcoding.com
        LOG_CHANNEL: stack
        DB_CONNECTION: pgsql
        DB_HOST: accounting.ctbn7m42ypzx.us-east-2.rds.amazonaws.com
        DB_PORT: 5432
        DB_DATABASE: accounting
        DB_USERNAME: accounting
        DB_PASSWORD: 2mq$kZTyH!q
        BROADCAST_DRIVER: log
        CACHE_DRIVER: file
        QUEUE_CONNECTION: sync
        SESSION_DRIVER: file
        SESSION_LIFETIME: 120
        REDIS_HOST: 127.0.0.1
        REDIS_PASSWORD: null
        REDIS_PORT: 6379
        MAIL_MAILER: smtp
        MAIL_HOST: smtp.mailtrap.io
        MAIL_PORT: 2525
        MAIL_USERNAME: 2790c54b0aec0f
        MAIL_PASSWORD: 60996a339d2094
        MAIL_FROM_ADDRESS: david.martinez@rmcoding.com
        MAIL_FROM_NAME: "${APP_NAME}"
        CLIENT_ID: 2
        CLIENT_SECRET: wPJCjsHiVZVHyNVdJNPDDhjgOzplrGt43U02uBvR
        TOKEN: eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiIyIiwianRpIjoiMzNkMzc5YjU3ZDQzNWUzOGQwNzg4OWIzMGYyZWMwOGY1MzY1MWVjNTg4NTdlZTIyNWMxNmQyOWZjYzU4NDMwYzVjODcyNTlkNGU4ZTIyOWEiLCJpYXQiOjE1OTA3MjI5MjUsIm5iZiI6MTU5MDcyMjkyNSwiZXhwIjoxNjIyMjU4OTI1LCJzdWIiOiIyMSIsInNjb3BlcyI6W119.HmVhwaRjuSIn2HNAi_Essp1CCysu4_BY7KKhRtcV1drhl0wvnifYed4Vg4MR969mj5RBTMs3jQ_2LnhE1tRwnvNwHF3TGQqeERxZudhhGTEWtfLOjqUN4kQRxSeMiqFc6ksLKezuVVF_GbcNpZN-rfnSFh42enQ3jdCzCx7OZBaP_4jYvJRqV4Ct68pWdZP2uovWLWAupmG3ddlJFwDEa6km9p_bjePdU8xOs7RZekSOx8o_imqgFm90oKI38veHcp12yD-0e4XYEQ8pLyhsiDQPk14xrujHj0rVqi5L-GssQjYhmTQEF9DJAgYTp1qqWjfu84hM5yDj1mfdXt-hteB-vJ7cJulyLpi5lPunFaTdw-mI8PQ5B3WU7ZcAr1wlkWOKtKW64zNWJlRLZIilkg4lBQ36roItk6wkSABSbfy3ONOdIPG6gSunxS6NGvKGgRWD0v4qD6UvwwXnSEhc0_LWc7qmHtFHkNS_98XsUiYvsl7jhLSy-gkWJ0I2-JURp-7PpBwCDq3ptf5OsF_GmeAhFpKmj4tEw0TmB1s-qvYtklY7mE01oqJ_d7gjb8r1L-0JRGbuVbTp71HrZigGHrpPJggId-WYgg-Bo1s-hBjCeV6kj6ikWLuBs9_OTMPv6ddLPZmp3_2rTl561NoI8MP0w9rmJVWQAb4T-d-hvIk
