option_settings:
    aws:elasticbeanstalk:container:php:phpini:
        document_root: /public
        memory_limit: 256M
    aws:elasticbeanstalk:environment:
        EnvironmentType: SingleInstance
    aws:elasticbeanstalk:application:environment:
        APP_NAME: Finance
        APP_ENV: production
        APP_KEY: 898dbf1c5fae058fb3475c4d2becfb69
        APP_DEBUG: false
        APP_URL: http://accounting-api.rmcoding.com
        LOG_CHANNEL: stack
        DB_CONNECTION: pgsql
        DB_HOST: accounting.ctbn7m42ypzx.us-east-2.rds.amazonaws.com
        DB_PORT: 5432
        DB_DATABASE: accounting
        DB_USERNAME: accounting
        DB_PASSWORD: 2mq$kZTyH!q
        BROADCAST_DRIVER: log
        CACHE_DRIVER: file
        QUEUE_CONNECTION: sync
        SESSION_DRIVER: file
        SESSION_LIFETIME: 120
        REDIS_HOST: 127.0.0.1
        REDIS_PASSWORD: null
        REDIS_PORT: 6379
        MAIL_MAILER: smtp
        MAIL_HOST: smtp.mailtrap.io
        MAIL_PORT: 2525
        MAIL_USERNAME: 2790c54b0aec0f
        MAIL_PASSWORD: 60996a339d2094
        MAIL_FROM_ADDRESS: david.martinez@rmcoding.com
        MAIL_FROM_NAME: "${APP_NAME}"
        CLIENT_ID: 2
        CLIENT_SECRET: wPJCjsHiVZVHyNVdJNPDDhjgOzplrGt43U02uBvR
        TOKEN: eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiIyIiwianRpIjoiNTA0YTkyMTY5NjVkZGJmZTU4NjU3MWFkYmIxYjVkZDZlOWYwNWEwOWYxZGNiNzEzZDVjYmNhZmQ2OTY3ZDVhNmJhZjJlYTY5MWI5ZDQ4ZDUiLCJpYXQiOjE1OTY4MzY4NTksIm5iZiI6MTU5NjgzNjg1OSwiZXhwIjoxNjI4MzcyODU5LCJzdWIiOiIyMSIsInNjb3BlcyI6W119.af3aXSuCTfvs2x0BEjTtZ6nMOVOEd1mEzknV_mFbWf_BRzv7Nn8FA1g7a-7z73tcgUDsWL2WhsQcgELLDPXwlAOtta-LsCTsxJ9o-9r5hiTCCqEJoXwB1_E4t-fAX0I1VE0Q5wo_470iplN2KOi04VW7sLbmPYQjOye40D7lMCdvOpqmU3srzd6ntj3_JULO3N1mlOdIyt3St0LW9OaSGLTikF4o6HVri-8h6oL8nJ27mfHDdXy4ybX4cIDEKyaRXf_4vcUKsG4biSOsW_N5N8JRqImejTqvv2WYTgZXWBdnHCTQOEBZ68BJNx5qilY2NWqdphMFkUkgen3u05pW270zonvRHXVKhZb_laqRdUOW0dzHUdHC7KRiR3EFk3s67W5rD_B7sUTyIn1zDZu2YBDrVFensHh0jvvYy_iTA4buTfMiS3CYJN0Tw-n1iBqBIb_MQ4c_NEpILw-t1g2dDRdTM1Vzsvu_8Ao5w-J6npRMIhRJgAYOEkEwQlunJ1g2VWMyncYkbcKsFqKeXpGnQr7Bs3pGwfbRjozRZdFP7zH6yBsRrR_d8yhOSeW4QJvg75A-gFOwS03s6TGaDZLffQ5o1Dp1x_6SNRPSlKGDHDbKYMJbhXg_S0Fjy1RWvgwCd1cN9pd9xnrijFE2uIjrUAj2eh1_jc5_TlR76z53dzU
