option_settings:
    aws:elasticbeanstalk:container:php:phpini:
        document_root: /public
        memory_limit: 256M
    aws:elasticbeanstalk:environment:
        LoadBalancerType: network
    aws:ec2:vpc:
        VPCId: "vpc-5e12cc35"
        Subnets: "subnet-6283bf18,subnet-801a7dcc,subnet-fd33f596"
